{
  "env": {
    "development": {
      "presets": [
        "flow",
        "stage-0",
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        "flow",
        "stage-0",
        [
          "env",
          {
            "targets": {
              "node": "7"
            }
          }
        ]
      ]
    }
  }
}
