# Created by .ignore support plugin (hsz.mobi)
.idea/
coverage/
node_modules/
tempExa/
npm-debug.log
.nyc_output/
oldtest/
.nyc_output/
yarn-error.log
test.js
.rpt2_cache/
.vscode
dist/
cc-test-reporter
travis_wait_*.log